/* My awesome style */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
/* Global, SiteWide, Boiler plate */
body { 
    background: url("../img/background.jpg")
}


/* Header */
header img {
    width: 100px;
}

/* Navigation */
nav li {
  list-style: none;
  display: inline-block;
}

nav a:link,
nav a:visited {

  text-decoration: none;
  background: red;
 
}

nav a:hover{
  background: blue;
}

nav a:active{
  background: yellow;
}
blockquote{
font-family: 'IM Fell Double Pica', serif;
    font-size: 2em;

}