/* body styes */
body {
    display: flex;
    flex-direction: column;
    
/*
    width: 1000px;
    margin: 0 auto;
*/
    
    background: gray;
}
span{
    color: greenyellow;
}


/* Header styles */
.page-header-container {
    display: flex;
    flex-direction: row;
}
.logo {
    background: #abc;
    flex: 1;
}

/* Nav top right */
.nav-top-right ul{
    display: flex;
}
.nav-top-right ul li {
    flex: 1;
}
.nav-top-right {
    background: #cdf;
    flex: 1;
}

/* main body  */
.main-container {
    display: flex;
}
/*left nav styles */
.leftside-nav {
    background: #efa;
    flex: 1;
/*   for the ul */
    display: flex;
}

.leftside-nav ul a {
    text-decoration: none;
}
.leftside-nav ul {
    padding-left: 0px;
    list-style: none;
    
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
}
.leftside-nav ul li {
    background: white;
    flex: 1;
}

/* picture */
.pic img {
	width: 100%;
}
.pic {
    background: #faa;
    flex: 5;
}

/* bio  */
.bio {
    background: #a9f;
    flex: 5;
}

/******************* RESUME STYLES **********************/
.resume-container{
    display: flex;
}
.education {
    background: red;
    flex: 1;
}
.certs{
    flex: 1;
    background: pink;
}

/************** Skills styles *********************/
.skills-container{
    display: flex;
}
.network-security{
    background: #ab2;
    flex: 1;
}
.software-os{
    background: #acd;
    flex: 1;
}
.programming{
    background: #efa;
    flex: 1;
}

/*************** work / volunteer */
.work-container {
    display: flex;
}
.work-experience{
    background: #aad;
    flex: 1;
}
.volunteer{
    background: #abd;
    flex: 1;
}

/*************** footer layout */
.footer-container {
    display: flex;
}
.goals{
    background: green;
    flex: 3;
}
.footer-nav{
    background: #cdb;
    flex: 1;
/*    display: flex*/
}
.footer-nav ul{
    display: flex;
    flex-direction: row;
    background: orange;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-nav ul li{
    flex: 1;
    padding: 4px;

}