.header-nav{
    background: pink;
}
.header-logo{
    background: #abc;
}
.nav {
    background: #cde;
}
.pic {
    background: cadetblue;
}
.bio {
    background: darkgray;
}
/* Flex testing */
.flex{
    display: flex;
    flex-direction: row;
}
.flex1{
    background: moccasin;
    
}
.flex2{
    background: cornflowerblue;
}

@media (min-width: 1px) and (max-width: 767px)  {

    body{
        background: palevioletred;
    }
    .flex{
        flex-direction: column;
    }
    .flex1{
        order: 1;
    }
    .flex2{
        order: 0;
    }

}