
body {
    background: black;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /*flex-direction: column;*/

    /*text-align: center;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}

.click {
    background: white;

    /*

        display: flex;
        flex-direction: column;
        align-items: center;
    */
}
section h2 {

    color: greenyellow;
    font-size: 3.5em;
    font-family: monospace;

}
.pound{
    color: red;
}
.click ul a{
    text-decoration: none;
}
.row ul li {
    list-style: none;
}
/*div {*/
    /*background: red;*/
/*}*/
/* blinking thing i copied from the web*/
@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}
.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}