
body {
    padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
    
    flex-direction: column;
    background: black;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.header {
    margin-top: 13em;;
}
.click {
    background: white;
    
/*
    
    display: flex;
    flex-direction: column;
    align-items: center;
*/
}
section h2 {
    
    color: greenyellow;
    font-size: 3.5em;
    font-family: monospace;
   
}
.pound{
    color: red;
}
.click ul a{
    text-decoration: none;
}
.click ul li {
    list-style: none;
}
div {
    background: red;
}
/* blinking thing i copied from the web*/
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
/* MEDIA QUERIES FROM THE WEB */
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    body {
        background: silver;
    }
    .click ul li h2 {
        font-size: 3em;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

*/

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    body {
        background: white;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
    body {
        background: pink;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}