body {
    background: #EFEFEF;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Header styles */
@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}
.header-wrap{
    margin-bottom: 5px;
}
.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}
.pound{
    color: black;
}
.click {
    /*background: #A9A9A9;*/
    text-align: center;
}
.click a{
    color: #FF383F;
    font-size: 1.8em;
    font-family: monospace;
    text-decoration: none;
    outline: none;
}

/* header-nav styles */

.header-nav {
    height: 40px;
    /*background: #A9A9A9;*/
    text-align: center;
    margin: 0;
}
.header-nav li{
    background: white;
    border-radius: 10%;
    display: inline-block;
    font-size: 1.4em;
    list-style: none;
    letter-spacing: 1px;
    padding-top: 9px;

}
.header-nav li a{
    padding-left: 3px;
    text-decoration: none;
    color: black;
}
.header-nav li a:hover{

    color: #ff383f;

}
.header-nav li a:hover:not(.active) {

}

.active {
    background-color:#4CAF50;
}
/*-------------------------------------*/


/*BIO styles*/
.bio {
    line-height: 2em;

}
.bio h2{
    color: #ff383f;
    font-size: 1.5em;
}
/*-----------------------------*/


#mid-h2{
    text-align: center;
    color: #ff383f;
}
/* Certs and Education styles*/
.ed-certs{

}
.certs img {
    width: 130px;
}
.education h3,
.certs h3 {
    font-size: 1.5em;
    color: #ff383f;
}
.education,
.certs {
    color: #3B3738;
}
.bio p,
.education li,
.education p,
.certs p,
#tech-1 li,
#tech-2 li,
#tech-3 li,
#volunteer dt,
#goals p {
    font-family: 'Roboto Condensed', sans-serif;
}




/*---------------------------------------------*/


/* *************** copied styles **************************** */



#tech-container {

}

/*#tech-container li {*/
    /*color: #3B3738;*/
/*}*/

#tech-1 h4,
#tech-2 h4,
#tech-3 h4 {
    font-size: 1.2em;
    color: #ff383f;
}

#volunteer h3,
#goals h3 {
    color: #ff383f;
}

#volunteer h4, h5 {
    color: #3B3738;
}

#volunteer dt {
    color: #ff383f;
}

#volunteer dd {
    color: #3B3738;
}


section img {
    width: 100px;
}

blockquote {
    text-align: center;
    font-size: 2em;
    color: #3B3738;
    margin-top: 20px;
}

/*--------------------------------------------------------------*/

@media (min-width: 1px) and (max-width: 767px) {

    body {

    }

    .flex {
        flex-direction: column;
    }

    .flex1 {
        order: 1;
    }

    .flex2 {
        order: 0;
    }

}